@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}